{%- if articles is iterable -%}
    {% for article in articles %}
        <item>
            {% if article.teaser_headline %}
                <title><![CDATA[{{ article.teaser_headline }} ]]></title>
            {% endif %}
            {% if article.section %}
                <articlecatagory>{{ article.section }}</articlecatagory>
            {% endif %}
            {% if article.pubdate %}
                <pubDate>{{ article.pubdate|date("r") }}</pubDate>
            {% endif %}
            {% if article.permalink %}
                <link>{{ article.permalink }}</link>
            {% endif %}
            {% if article.uuid %}
                <guid isPermaLink="false">{{ article.uuid }}</guid>
            {% endif %}
            {% if article.teaser_body %}
                <description><![CDATA[{{article.teaser_body }}]]></description>
            {% endif %}
            {% if article.contentsubtype == 'VIDEO' %}
                <type>Video</type>
                {% if article.authors %}
                    {% for author in article.authors %}
                        <author><![CDATA[{{ author.name }} ]]></author>
                    {% endfor %}
                {% endif %}
                {% if article.authors is empty and article.author_byline %}
                    <author>{{ article.author_byline }}</author>
                {% endif %}
                {% if article.teaser_image_uuids %}
                    {% for image in article.teaser_image_uuids %}
                        <enclosure url="{{ image_endpoint_url }}/?uuid={{ image }}&amp;function=hardcrop&amp;type=preview&amp;width=480" type="image/jpeg"/>
                    {% endfor %}
                {% else %}
                  <enclosure url="https://www.dailymotion.com/thumbnail/video/{{ article.videoid }}" type="image/jpeg"/>
                {% endif %}
              <media:content url="https://www.dailymotion.com/embed/video/{{ article.videoid }}?autoplay=1" type="image/jpeg">
                    <media:description><![CDATA[{{article.teaser_body }}]]></media:description>
                    <media:copyright>Khaleej Times</media:copyright>
                </media:content>
            {% else %}
                <image>
                    <link>{{ article.permalink }}</link>
                    {% if article.teaser_image_uuids %}
                        {% for image in article.teaser_image_uuids %}
                            <url>{{ image_endpoint_url }}/?uuid={{ image }}&amp;function=fit&amp;type=preview&amp;source=false&amp;q=75&amp;maxsize=1600&amp;scaleup=0</url>
                        {% endfor %}
                    {% else %}
                        <url>https://static.khaleejtimes.com/wp-content/uploads/sites/2/2021/03/03170252/default_490x276.jpg</url>
                    {% endif %}
                    <width>305</width>
                    <height/>
                </image>
            {% endif %}
        </item>
    {% endfor %}
{%- endif -%}
