{% extends '@base/main.twig' %}

{% block page_head_ads %}
{% endblock %}

{% block page_head %}
  {% include "@base/article/part/metatags.twig" %}
  <link rel="amphtml" href="{{ get_permalink() }}?amp=1">
{% endblock %}

{% block page_stylesheets_scripts %}
  {{ parent() }}
  {# include "@base/article/part/vuukle-script.twig" #}
  <link rel="stylesheet" href="{{ get_stylesheet_directory_uri() }}/assets/css/swiper-bundle.min.css">
{% endblock %}

{% block page_ad_takeover %}
{% endblock %}

{% block page_content %}

<style>
    @media (max-width: 567px) {
    .google-news-main-div-lib.d-flex.justify-content-between {
        width:100%!important;
        display: block!important;
        float: left;
      }

}
</style>

  <section class="article-top">
    <div class="container">
      {% include "@base/article/sponsored-teaser.twig" %}
    </div>

   
      <div class="container">
        <div class="row khaleej-row d-flex justify-content-center">
       <div class="col-12 col-lg-8 col-md-8 article-top-left article-wrapper recent-bottom " data-uuid="{{ uuid }}">
       <div class="recent">
            {% set metasocial = true %}
            {% set authorbox = true %}

            {% if dateline is not null and dateline is not empty %}
              {% set dateline = dateline ~ ' - ' %}
            {% endif %}

            {% for paragraph in body %}
              {% if paragraph is not empty %}

                {# Inside Author Box Start #}
                {% if paragraph matches '{<!-- element: (body|fallback) -->}' and authorbox %}
                  {% set authorbox = false %}
                  {# include "@base/article/inline-author-article.twig" #}


                {% endif %}
                {# Inside Author Box End #}

                {{ paragraph|replace({'<span id="dateline"></span>':dateline})|raw }}

                {# Social medie icons Start #}
                {% if paragraph matches '{<!-- element: (preamble|body|fallback) -->}' and metasocial %}
                  {% set metasocial = false %}

                  {% include "@base/article/meta-social.twig" %}



                {% endif %}
                {# Social medie icons End #}

              {% endif %}
            {% endfor %}

            <div class="row recent-bottom reverse">
          <div class="details">
           <div clas="inner">
 <div class="follow-wrap">
            {% include "@base/article/concepts.twig" %}
            {% include "@base/article/authors.twig" %}
            </div>
             </div>
            {# include "@base/article/part/vuukle.twig" with { skipthis: true } #}
          </div>
        </div>
         </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}

{% block page_stylesheets_scripts_bottom %}
  {{ parent() }}

  <script src="{{ get_stylesheet_directory_uri() }}/assets/js/swiper-bundle.min.js"></script>
  <script src="{{ get_stylesheet_directory_uri() }}/assets/js/article.js"></script>
{% endblock %}