{% extends '@base/main.twig' %}
{% block page_head %}
  {% include "@base/article/part/metatags.twig" %}
  <link rel="amphtml" href="{{ get_permalink() }}?amp=1">
{% endblock %}
{% block page_stylesheets_scripts %}
  {{ parent() }}
  {# include "@base/article/part/vuukle-script.twig" #}
  <link rel="stylesheet" href="{{ get_stylesheet_directory_uri() }}/assets/css/swiper-bundle.min.css">
{% endblock %}
{% block page_ad_takeover %}
{% endblock %}
{% block page_content %}  

    YES THIS IS GALLERY
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center d-block fix-billboard-nf">
      <div class="fix-billboard-nf-inner"> -->
        <!-- /78059622/Responsive-Article-Leaderboard -->
       <!-- <div id='div-gpt-ad-1613480627440-0'>
          <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613480627440-0'); });
          </script>
        </div>
      </div>
      </div>
    </div>
  </div> -->  
  <!-- /78059622/Article-Skyscraper-Left -- start-->
<!-- <div id='div-gpt-ad-1699245224511-0' class='skyscraper-left-lb'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1699245224511-0'); });
  </script>
</div> -->
<!-- /78059622/Article-Skyscraper-Left -- end-->
  <section class="article-top">
    <div class="container">      
      <div class="row khaleej-row" style="visibility: visible !important;" data-triggerView data-url="{{ get_self_link()|split('?')|first }}" data-articlez="1" viewed="">
        <div class="col-12 col-lg-8 col-md-8 article-top-left">

<div id="floater-bt-article-lb" class="floater-article-btn-0" article-id="1" style="display:none;"> <a> Read next story <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2024/05/15185234/down-arrow-01.png" style="width:12px; height:13px; margin-left:5px;" alt="Read next article - Khaleej Times">  </a></div>
<script>

jQuery(".floater-article-btn-0").hide();
jQuery.fn.isInViewportz = function () { 
   let elementTop = jQuery(this).offset().top;
    let elementBottom = elementTop + jQuery(this).outerHeight();
    let viewportTop = jQuery(window).scrollTop();
    let viewportBottom = viewportTop + jQuery(window).height();
    return elementBottom > viewportTop && elementTop < viewportBottom;
}
jQuery(window).scroll(function() { 
    if (jQuery(".secondpara").isInViewportz() == true && jQuery('.loaded-articles').contents().length>0) {    
     jQuery(".floater-article-btn-0").show();     
     //jQuery(".floater-article-btn").attr("article-id",next+1);   
    }
   else
    {
    jQuery(".floater-article-btn-0").hide();           
    }    
});
</script>
    {% if show_floater_mykt=='netcore' %}
    <!-- <a href="https://www.khaleejtimes.com/mykt" class="btn btn-primary" style="position: fixed;z-index: 1001;color: white;background-color: #0179c8;">My KT</a> -->
    {% endif %}         
    <div class="breadcrumbs"><ul class="breadcrumbs">{% include "@base/article/breadcrumb.twig" %}</ul></div>
                {% set metasocial = true %}
                {% set authorbox = true %}
                {% set firstimage = true %}
                {% set firstparagraph = true %}
                {% set scounter=false %}
                {% set count = 1 %}
        {% set scount = 1 %}
                {% set videonotembed = true %}
        {% set objcount = false %}
                {% if dateline is not null and dateline is not empty %}
                    {% set dateline = dateline ~ ' - ' %}
                {% endif %}
        {% set totalpara= body|length %}
        {# set paraend= (totalpara-(15/100*totalpara))|round(0, 'ceil') #}
        {% set paraend=  totalpara %}
        {% set alsoread=false %}
        {% set counterset=(totalpara-(totalpara)/3)|round(0, 'ceil')  %}
      {% for paragraph in body %}
         {% if (contentsubtype=='GALLERY' or contentsubtype=='VIDEO') and contentsubtype!='ARTICLE'%}      
              {% if loop.last %}             
              {% set objcount = true %} 
              {% endif %}             
              {% endif %}       
                    {% if paragraph is not empty or objcount %}   
                        {# Inside Author Box Start #}
                          {% if (paragraph matches '{<!-- element: (body|fallback) -->}' or objcount) and authorbox %}
                            {% set authorbox = false %}
                           {# include "@base/article/inline-author-article.twig" #}
                        {% endif %}
                        {# Inside Author Box End #}         
                        {# check if dailymotion is embed #}
                        {% if paragraph matches '{dailymotion.com/embed/video}'  %}
                            {% set videonotembed = false %}
                        {% endif %}
                        {% if loop.index==counterset and scounter==false%}         
                          {% set scounter=true %}                  
                        <div class="secondpara">
                       {% endif %}
                       

                       {% if loop.index==paraend %}
                        </div>
                       {% endif %}
                        {% if paragraph matches '{ALSO READ:}' %}
                          {% set alsoread=true %}
                         
                         
                        {% endif %}
                        {# check if dailymotion is embed #}
                        {% if contentsubtype == 'VIDEO' or  contentsubtype == 'GALLERY'%}
                          {% if firstimage %}
                         <div class="row recent-bottom reverse">   
                             <!-- <div class="col-12 col-lg-3 col-md-3 top-stories top-sty-widget">  
                               <div class="article-leftbar-wrap-nf sticky"> 
                              {# render_sidebar("leftside-default-article-sidebar") #}  
                               </div>       
                               </div> -->        
                            <div class="col-12 col-lg-12 col-md-12 details article-center-wrap-nf">            
                                <div class="inner innermixmatch"> 
                                 {% set firstimage = false %}
                              {% endif %}
                         {% if paragraph matches '{<!-- object: image -->}' %}
                                {# set firstimage = false #}    

                            {% else %}
                                {{ paragraph|replace({'<span id="dateline"></span>':dateline})|raw }}
                            {% endif %}
                        {% else %}
            {% if (paragraph matches '{<!-- object: image -->}'  and firstimage) or (scounter==true and firstimage and  contentsubtype != 'VIDEO' and  contentsubtype != 'GALLERY') %}             
              <div class="row recent-bottom reverse">   
               <div class="col-12 col-lg-3 col-md-3 top-stories top-sty-widget">  
                 <div class="article-leftbar-wrap-nf sticky leftside_0"> 
                {{ render_sidebar("leftside-default-article-sidebar") }}  
                 </div>       
                 </div>        
              <div class="col-12 col-lg-9 col-md-9 details article-center-wrap-nf">            
                  <div class="inner innermixmatch">
                               {% set firstimage = false %}
                                {{ paragraph|replace({'image-wrapper':'image-wrapper image-wrapper-first'})|raw }}
                             {% else %}
                                {{ paragraph|replace({'<span id="dateline"></span>':dateline})|raw }}               
              {% if paragraph matches '{<!-- element: body -->}'  and  count==2 %}
              {% set scount=scount+1 %} 
                   {% if scount==3 %}
                        <div id="PA_In-article"></div>
                   {% endif %}
               {% endif %}
                {% if  paragraph matches '{<!-- element: body -->}' and scount==4 %}
                <!-- googleoff: index -->               
                        <!-- /78059622/Responsive-InArticle-MPU2-300x250 -->
                        <!-- <div id='div-gpt-ad-1711370958901-0' style='max-width: 300px; max-height: 280px; margin:0px auto; text-align:center;'>
                        <script>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1711370958901-0'); });
                        </script>
                        </div><br/> -->
                        <!-- /23110992253/InArticle-300x250-2 -->
                        <div id='div-gpt-ad-1712280510876-0' style='max-width: 336px; max-height: 280px; margin:0px auto; text-align:center; margin-top:15px;'>
                          <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1712280510876-0'); });
                          </script>
                        </div><br/>
                <!-- googleon: index -->
                {% endif %}
                            {% if paragraph matches '{<!-- element: body -->}' and firstparagraph and count==2 %}
                                {% set firstparagraph = false %}
                                  {% if section == 'UAE'%}
<style>
    /* To change desktop pip dimension and position */
    #dailymotion-pip-large-viewport{
      --dm--pip-size-width: 288px;
      --dm--pip-size-height: 162px;
      --position-right: initial;
      --position-left: 5px;
      color: #FFF;
    }
    /* To add close button for desktop PIP */
    #dailymotion-pip-large-viewport .dm-small-pip-close{
      width: 25px;
      height: 25px;
      right: 3px;
      top: 3px;
      position: absolute;
    }
    /* To change the color of PIP for mobile */
    #dailymotion-pip-small-viewport div.dm-small-pip-info-wrapper {
      --dm-smallpip-player-color:#000;
      --dm-smallpip-player-bg: #fff;
      padding: 14px 10px;
    }
    /* To change font size of PIP for mobile */
    .dm-player #dailymotion-pip-small-viewport div.dm-small-pip-info-wrapper .dm-small-pip-title{
      font-size: 15px;
      font-weight: 700;
      height: auto !important;
      line-height: 1.2em;
    }
    .dm-small-pip-title::before {
      content: "Now Playing";
      display: block;
      color: #54a2cb;
      font-size: 12px;
      font-weight: 300;
    }
    .dm-player #dailymotion-pip-small-viewport div.dm-small-pip-info-wrapper .dm-small-pip-duration {
      display: none;
    }
</style>

<!-- wrapping the first player for PIP control -->
<div id="playerWrapper">
   <!-- First player with small PIP -->
    <div class="dm-player"
        owners="khaleejtimes"
        playlistId="x86zwi"
        playerId="xyibo"
        mute="true"
        smallPip="true" >
    </div> 
</div>
<!-- page htmls -->

<script src="https://statics.dmcdn.net/c/dm-ce.min.js" async></script>

<!-- script to pause rest of the players in the page if a player plays-->
<script>
    document.addEventListener("dm-player-create",(e)=>{
        let player = e.detail.player;
        player.on(dailymotion.events.VIDEO_PLAY,(state)=>{
            checkOtherPlayer(state.playerInstanceId);
        })
    })

    function checkOtherPlayer(playerId){
        dailymotion.getAllPlayers().forEach(async (playerPromise)=>{
            let player = await playerPromise;
            let state = await player.getState();
            if( state.playerInstanceId !== playerId && state.playerIsPlaying){
                player.pause();
            }
        })
    }
    // creating observer to activate PIP for mobile and when user passes the video
    const observer = new window.IntersectionObserver(([entry]) => {
      if(dailymotion && entry.boundingClientRect.width < 490){
        if (entry.boundingClientRect.top > 0)
            dailymotion.pipClose();
        else 
            dailymotion.pipResume();
      }
    }, {
      root: null,
      threshold: 1,
    })
    observer.observe(document.getElementById("playerWrapper"));
</script>
                                  {% else %}
                                    <!-- code from Aniview - Floating-Top -->
                                    <script async id="AV66966b9fe5e67b376400084d" type="text/javascript" src=https://tg1.aniview.com/api/adserver/spt?AV_TAGID=66966b9fe5e67b376400084d&AV_PUBLISHERID=6691326517c1f026e80a668c></script>
                                    <!-- code from Aniview -->
                                    <br/>  
                                  {% endif %}
                                    <div class="middle_0">
                                    {{ render_sidebar("middle-recommended-article-mobile") }}
                                    </div>
                                {% else %}
                             {% if paragraph matches '{<!-- element: body -->}' and firstparagraph and count==1 %}
                             {% set count = 2 %}
                             {% endif %}
                           {% endif %}
                        {% endif %}           
                        {% endif %}
                        {# Social medie icons Start #}
                        {% if paragraph matches '{<!-- element: (preamble|body|fallback) -->}' and metasocial %}
                            {% set metasocial = false %}
                            {% include "@base/article/meta-social.twig" %}
                        {% endif %}
                        {# Social medie icons End #}            
                    {% endif %}
              {% if loop.last %}
                {% if alsoread==true %}

                
               
                 {% set alsoread=false %}
              {% endif %}
                   <!-- /78059622/Responsive-InArticle-MPU3-300x250 -->
                    <!--  <div id='div-gpt-ad-1711372673668-0' style='max-width: 300px; max-height: 280px; margin:0px auto; text-align:center;'>
                      <script>
                      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1711372673668-0'); });
                      </script>
                      </div> -->
                      <!-- /23110992253/InArticle-300x250-3 -->
                      <div id='div-gpt-ad-1712280684708-0' style='max-width: 336px; max-height: 280px; margin:0px auto; text-align:center;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1712280684708-0'); });
                        </script>
                      </div>                      
                   {% endif %}                   
                {% endfor %}
        {% if contentsubtype == 'VIDEO' and videonotembed %}
                    {% if videoid %}
                      <div class="facebook-responsive-video mt-4">
                        <iframe type="text/html"
                                src="https://www.dailymotion.com/embed/video/{{ videoid }}?autoplay=1"
                                allow="autoplay"
                                allowfullscreen=""
                                width="100%"
                                height="100%"
                                frameborder="0">
                        </iframe>
                      </div>
                    {% endif %}
                {% endif %}
                <div class="follow-wrap">
              {% include "@base/article/concepts.twig" %} 
                           
           <!-- </div> -->
            {% include "@base/article/authors.twig" %}
            </div>
      <div id="agora-article-below-1"></div>
      </div>
      </div>
      </div>
      
            {% if loadMoreArticles is not empty %}
              <div class="load-next-article" data-triggerLoadArticle data-article="1"></div>
            {% endif %}
      
           <!-- {# include "@base/article/part/speakol.twig" with { speakol_id: 6437 } #} -->

        {# include "@base/article/part/vuukle.twig" #}
            <div class="row">
              <div class="col-lg-12">
                {# include "@base/article/part/speakol.twig" with { speakol_id: 6248 } #}
                <br />
              </div>
            </div>
          </div>
           </div>
                {% if contentsubtype == 'VIDEO' or  contentsubtype == 'GALLERY'%}      
   
       {% endif %}
           {# if contentsubtype != 'VIDEO' and  contentsubtype != 'GALLERY'#}
            
            <div class="col-12 col-lg-4 col-md-4 article-top-right">
           <div class="article-right-sidebar fixedsticky default_0">
            {{ render_sidebar("default-article-sidebar") }}
          </div>
          </div>
        {# endif #}
           </div>
          
        
       
          
      </div>
   
    <section class="separation">
  <div class="container">
    <div class="col-12">
      <div class="inner">
        <span>Next Story</span>
      </div>
    </div>
  </div>
 
</section>
    <div class="loaded-articles"></div>
    {% if (contentsubtype == 'VIDEO') or  (contentsubtype == 'GALLERY') %}
      {# render_sidebar(contentsubtype|lower ~ '-article-below') #}
    {% else %}
      {% if moreFromThisConcept is not empty %}
        {# include "@base/article/more-articles.twig" #}
      {% endif %}
    {% endif %}
 
 </section>
<!-- /78059622/Article-Skyscraper-Right-- start -->
<!-- <div id='div-gpt-ad-1699245123977-0' class='skyscraper-right-lb'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1699245123977-0'); });
  </script>
</div>  -->
<!-- /78059622/Article-Skyscraper-Right-- end -->

  
{% endblock %}
{% block page_stylesheets_scripts_bottom %}
  {{ parent() }}
  <script>
  if(jQuery(".recent-bottom").prev('.image-top').length){
  jQuery(".image-top").each(function(){ jQuery( this ).insertBefore('.innermixmatch');  return false;});
    }

  if(jQuery('.article-top-left').find('.article-top-right').length == 1) {  
    jQuery(".article-top-right").insertAfter(".article-top-left");
  }
/*   var infiniteArticles = {# infinitearticles|raw #};
   var  core_source="netcore";
    if(infiniteArticles.length==0)
   {*/
    core_source="naviga";
    infiniteArticles = {{ loadMoreArticles|map(article => article.permalink)|json_encode|raw }};
   //}

  </script>
  <script src="{{ get_stylesheet_directory_uri() }}/assets/js/ScrollTrigger.min.js"></script>
  <script src="{{ get_stylesheet_directory_uri() }}/assets/js/swiper-bundle.min.js"></script>
  <script src="{{ get_stylesheet_directory_uri() }}/assets/js/article.js"></script>
  <script src="{{ get_stylesheet_directory_uri() }}/assets/js/scroll-load-more.js?v=13009"></script>
  {# include "@base/article/part/first-impressions.twig" #}
  <!-- KT -->
{% endblock %}
