<article class="teaser frontpagecategorylisttop {{ teaser_classes|default('teaser--standard') }}" data-uuid="{{ uuid }}" data-comment-id="{{ comment_id }}">
    <div class="container">
    	<div class="row">
            <a href="{{ permalink }}">
                {% if image %}
                    {% set image = image|merge({ 'image_endpoint_url': image_endpoint_url }) %}
                    <div class="teaser-image col-md-12">
                        {{ render_partial('@base/teaser/partial/image', image) }}
                    </div>
                {% elseif image_uuid %}
                    <div class="teaser-image col-md-12">
                        <img src="{{ image_endpoint_url }}/?uuid={{ image_uuid }}&function=hardcrop&type=preview&source=false&width=600&height=450">
                    </div>
                {% endif %}
            </a>

                <div class="teaser-content col-md-12">				
                    <a href="{{ permalink }}"><div class="entry-title frontpagecategorylisttop">{% block headline %}{% include "@base/teaser/partial/headline.twig" %}{% endblock %}</div></a>
                </div>
        </div>
    </div>
</article>