{% if content %}
    {% if type == 'blockquote' %}
        <!-- element: blockquote -->
        <blockquote class="ew-blockquote blockquote">{{ content | raw }}</blockquote>
    {% elseif type == 'headline' %}
        <!-- element: headline -->
        <h1 class="ew-headline" itemprop="name">{{ content | raw }}</h1>
    {% elseif type matches '{subheadline[1-6]}' %}
        <!-- element: subheadline1 -->
        <h2 class="ew-subheadline">{{ content | raw }}</h2>
    {% elseif type == 'body' %}
        <!-- element: body -->
        <p class="ew-body">{{ content | raw }}</p>
    {% elseif type == 'drophead' %}
        <!-- element: drophead -->
        <p class="ew-drophead">{{ content | raw }}</p>
    {% elseif type == 'preamble' %}
        <!-- element: preamble -->
        <p class="ew-preamble" itemprop="description">{{ content | raw }}</p>
    {% elseif type == 'ordered-list' or type == 'unordered-list' %}
        <!-- element: list -->
        <div class="ew-list ew-list--{{ type|replace({'-list':''}) }}">{{ content | raw }}</div>
    {% else %}
        <!-- element: fallback -->
        <p>{{ content | raw }}</p>
    {% endif %}
{% endif %}
