
<article class="draft-rates-wrapper">
  <div class="draft-rates-head-wrapper">
    <div class="draft-rates-head-lt">
   <div>   <a href="#goldrate" class="uae-draft-rate-bt">Gold Rate</a>   <a href="#silverrate" class="uae-draft-rate-bt">Silver Rate</a> <a href="#exchangerate" class="uae-draft-rate-bt">Exchange Rate</a> </div>

      <h3>DRAFT RATE <span>{{ articles["0"].pubdate|date("F d, Y") }}</span></h3>
      <h6>Updated <span class="time">{{ articles["0"].timeago }}</span>…</h6>
      <h6>Selected Asian currencies in UAE Dirhams (Rates in 1 Dirham)</h6>
    </div>
    <div class="draft-rates-head-rt align-items-end align-self-md-start">
      <a href="/gold-forex/qatar">QATAR DRAFT RATES</a>
      <a href="/gold-forex/bahrain">BAHRAIN DRAFT RATES</a>
    </div>
  </div>
  <div class="draft-rates-main-wrapper-nf">
    <div class="draft-rates-lt-wrap">
      <h2>UAE <br>
        DRAFT RATES</h2>
      <h4>*SOURCE: UAE EXCHANGE CENTRE L.L.C., UAE. RATES ARE SUBJECT TO FLUCTUATION</h4>

      <div class="powered-wrap">
        <span class="sp-powered">Powered by</span>
        <a target="_blank" href="https://www.plus500.com/en/?id=136707&tags=GF+logo&pl=2">
        <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2024/02/01110054/Plus500-Logo-240x100-1.jpg" width="240" height="100" alt="Plus 500"> 
        <!-- <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/10/21193855/thumbnail_237x103-NBRB-CC-Buttons-WSJ-MCT-7241-blue-1.png" width="237" height="103" alt="Capital UAE Draft"> -->
          <!-- <img  src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/06/10135325/237x103-CC-Banners-Khaleejtimes-MCT-5628-EN.png" alt=""> -->
          <!-- <img  src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2021/11/10151649/capital-230.jpg" alt=""> -->
        </a>
      </div>

    </div>
    {% if articles["0"].forextable %}
      {% for object in articles["0"].forextable %}
        {% if object["@attributes"].type == 'x-im/table' %}
          <div class="draft-rates-rt-wrap">
            <table class="table table-hover">
              <thead>
              <tr>
                {% for value in object.data.thead.tr.th %}
                  <th scope="col">{{ value }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for tr in object.data.tbody.tr %}
                <tr>
                  {% for value in tr.td %}
                    {% if loop.first %}
                      <th scope="row">{{ value }}</th>
                    {% else %}

                      <td >{{ value is iterable ? '' : value }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</article>
<div id="netcore-goldforex-wp"></div>
<div id="agora-goldforex-belowdraft"></div>
<!--
<div class="mpu-ad-unit ad-unit">
  <!-- /78059622/Responsive-Section-Leaderboard-2 -->
  <!--
  <div id='div-gpt-ad-1613547811534-0'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613547811534-0'); });
    </script>
  </div>
</div> -->

<article class="draft-rates-wrapper">
  <div class="draft-rates-head-wrapper">
    <div class="draft-rates-head-lt uae-gold-head-wrapper-lt">
      <h3><a id="goldrate"></a>UAE GOLD RATE (AED) <span>{{ articles["1"].pubdate|date("F d, Y") }}</span></h3>
      <h6>Updated <span class="time">{{ articles["1"].timeago }}</span>…</h6>
      <h6>Source: Dubai Gold &amp; Jewellery Group</h6>
    </div>

    <div class="uae-gold-banner-rt">
          <a target="_blank" href="https://www.plus500.com/en/?id=136707&tags=GF+button&pl=2">

          <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2024/02/01110101/Buy-Sell-Btn-02.jpg" width="300" height="50" alt="plus 500" pinger-seen="true">

           <!--  <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/10/20180151/300x50_Button_Khaleejtimes_buy-sell-7-MCT-7419-EN.gif" width="301" height="50" alt="Capital" pinger-seen="true"> -->

         <!-- <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/07/04185524/button-Khaleejtimes_buy-sell-1.png" alt="Capital" pinger-seen="true">

           <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/06/10140430/300x50-cc-banners-khaleejtimes-mct-5628-en.png" alt="Capital" pinger-seen="true"> -->
          <!-- <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2021/12/06150940/capital-300-50.jpg" alt="Capital" pinger-seen="true"> -->
        </a>
    </div>

  </div>
  <div class="draft-rates-main-wrapper-nf maxwidth-67">
    {% if articles["1"].forextable %}
      {% for object in articles["1"].forextable %}
        {% if object["@attributes"].type == 'x-im/table' %}
          <div class="draft-rates-rt-wrap">
            <table class="table table-hover">
              <thead>
              <tr>
                {% for value in object.data.thead.tr.th %}
                  <th scope="col">{{ value }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for tr in object.data.tbody.tr %}
                <tr>
                  {% for value in tr.td %}
                    {% if loop.first %}
                      <th scope="row">{{ value }}</th>
                    {% else %}

                      <td >{{ value is iterable ? '' : value }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="gold-fx-mpu-slot-nf">
    <div class=" mpu-ad-unit">
      <!-- /78059622/Responsive-Section-MPU-2 -->
      <div id='div-gpt-ad-1613549587288-0'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613549587288-0'); });
        </script>
      </div>
    </div>
  </div>
</article>
<!-- googleoff: index -->
<div id="adsolut-gold"></div>
<!-- googleon: index -->
<!-- 
<div class="mpu-ad-unit ad-unit">
  <!-- /78059622/Responsive-Section-Leaderboard-3 -->
  <!-- 
  <div id='div-gpt-ad-1613548422640-0'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613548422640-0'); });
    </script>
  </div>
</div> -->

<article class="draft-rates-wrapper">
  <div class="draft-rates-head-wrapper maxwidth-67">
    <div class="draft-rates-head-lt uae-silver-head-wrapper-lt">
      <h3><a id="silverrate"></a>SILVER RATE (AED) <span>{{ articles["2"].pubdate|date("F d, Y") }}</span></h3>
      <h6>Updated <span class="time">{{ articles["2"].timeago }}</span>…</h6>
      <h6>Source: Al Kananah - Silver Jewellery, Dubai</h6>
    </div>

    <div class="uae-silver-banner-rt">
          <a target="_blank" href="https://www.plus500.com/en/?id=136707&tags=GF+button&pl=2">

          <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2024/02/01110101/Buy-Sell-Btn-02.jpg" width="300" height="50" alt="plus500" pinger-seen="true">

          <!--<img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/10/20180151/300x50_Button_Khaleejtimes_buy-sell-7-MCT-7419-EN.gif"  width="301" height="50"  alt="Capital" pinger-seen="true">-->
          
          <!-- <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/06/10140430/300x50-cc-banners-khaleejtimes-mct-5628-en.png" alt="Capital" pinger-seen="true"> -->
        </a>
    </div>

  </div>
  <div class="draft-rates-main-wrapper-nf maxwidth-67">
    {% if articles["2"].forextable %}
      {% for object in articles["2"].forextable %}
        {% if object["@attributes"].type == 'x-im/table' %}
          <div class="draft-rates-rt-wrap">
            <table class="table table-hover">
              <thead>
              <tr>
                {% for value in object.data.thead.tr.th %}
                  <th scope="col">{{ value }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for tr in object.data.tbody.tr %}
                <tr>
                  {% for value in tr.td %}
                    {% if loop.first %}
                      <th scope="row">{{ value }}</th>
                    {% else %}

                      <td >{{ value is iterable ? '' : value }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="gold-fx-mpu-slot-nf margin-70min d-flex justify-content-end">
    <div class="newletter-widget-wrapper">
      <h3>Sign Up For Breaking News Alerts</h3>
      <p>Be in the know. Get the latest breaking news delivered straight to your inbox..</p>
      <form id="submit-form" name="submit-form" action="" method="post" novalidate="novalidate">
        <div class="form-group">
          <div class="newsletter-pan">
            <input type="email" class="form-control email-field" id="email" name="email" required="" placeholder="Enter your email address">
          </div>
          <div class="newsletter-btn-pan"><button type="submit" value="SUBMIT" id="submit-form-1" class="btn btn-primary subscribe-btn">Submit</button></div>
          <div class="newsletter-terms"><input class="form-check-input rounded-0" type="checkbox" id="terms" name="terms" value="1" required="" aria-label="Terms and Conditions"><span><a href="/privacy-policy" target="_blank">Terms &amp; Conditions Apply</a></span></div>
        </div>
      </form>
    </div>
  </div>
</article>

<!--  <article class="draft-rates-wrapper">
{% if exchangerate.forex %}

  <div class="draft-rates-head-wrapper">
    <div class="draft-rates-head-lt">
      <h3><a id="exchangerate"></a>EXCHANGE RATE(AED) <span>{{ exchangerateUpd.updated|date("F d, Y") }}</span></h3>
      <h6>Updated <span class="time">{{ exchangerateUpd.timeago }}</span>…</h6>
      <h6>Rates supplied by UAE Exchange Centre L.L.C.</h6>
    </div>

  </div>
  <div class="draft-rates-main-wrapper-nf maxwidth-67">
    <div class="draft-rates-rt-wrap exchange-rate">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col" colspan="2">CURRENCIES</th>
          <th scope="col" colspan="2">UAE</th>
          <th scope="col" colspan="2">QATAR</th>
          <th scope="col" colspan="2">OMAN</th>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td colspan="2">
            <table>
              <tbody><tr>
                <td class="blue-bg-gold">BUY</td>
                <td class="blue-bg-gold">SELL</td>
              </tr>
              </tbody></table>
          </td>
          <td colspan="2">
            <table>
              <tbody><tr>
                <td class="gray-bg-gold">BUY</td>
                <td class="gray-bg-gold">SELL</td>
              </tr>
              </tbody></table>
          </td>
          <td colspan="2">
            <table>
              <tbody><tr>
                <td class="lightgray-bg-gold">BUY</td>
                <td class="lightgray-bg-gold">SELL</td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </thead>
        <tbody>
{% for object in exchangerate.forex %}
          <tr>
            <th scope="row" colspan="2">{{ object.currency}}</th>
            <td>{{ object.uae_buy is iterable ? '' : object.uae_buy|slice(0, 6) }}</td>
            <td>{{ object.uae_sell is iterable ? '' : object.uae_sell|slice(0, 6)}}</td>
            <td>{{ object.qatar_buy is iterable ? '' : object.qatar_buy|slice(0, 6)}}</td>
            <td>{{ object.qatar_sell is iterable ? '' : object.qatar_sell|slice(0, 6)}}</td>
            <td>{{ object.oman_buy is iterable ? '' : object.oman_buy|slice(0, 6)}} </td>
            <td>{{ object.oman_sell is iterable ? '' : object.oman_sell|slice(0, 6)}}</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}


  <div class="gold-fx-mpu-slot-nf d-flex justify-content-end">
    <div class=" mpu-ad-unit">
      <!-- /78059622/Responsive-Section-HALFPAGE-1 -->
      <!-- <div id='div-gpt-ad-1613551827567-0'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1613551827567-0'); });
        </script>
      </div>
    </div>
  </div>

</article>  -->
