<!--- Article infinite scroll begin -->
<div class="nextarticle-nf nextarticle{{skip}}"></div>
{% set replaced_link = get_permalink()|replace({'https://www.khaleejtimes.com' : ""}) %}
<script>
var event_timestamp_utc = dNow.getUTCFullYear() + '-' + ('0' + (dNow.getUTCMonth() + 1)).slice(-2) + '-' + ('0' + dNow.getUTCDate()).slice(-2) + ' ' + ('0' + dNow.getUTCHours()).slice(-2) + ':' + ('0' + dNow.getUTCMinutes()).slice(-2) + ':' + ('0' + dNow.getUTCSeconds()).slice(-2);
/*
var tealium_visitor_id = /(v_id:(\w+))/.exec(window.document.cookie)[2];
var match = /_ga=(GA1\.2\.\d+\.\d+)/.exec(window.document.cookie);
var googleid = match ? match[1] : null;
*/
var newsKeywords = jQuery('meta[name="news_keywords"]').attr('content');
newsKeywords = newsKeywords || null;


console.log('infinite-scroll-utag-trigger');
 var utag_data = {
  "article_authors"      : "{% if authors %}{% for author in authors %}{{ author.name }}{% if loop.last == false %}, {% endif %}{% endfor %}{% elseif author_byline %}{{ author_byline }}{% else %}None{% endif %}",
  "article_id"           : "{{ uuid }}",
  "article_publish_date" : "{{ pubdate|date('Y-m-d') }}T{{ pubdate|date('H:i:s') }}Z",
  "article_title"        : "{{ teaser_headline|replace({"\n":'', "\r":''}) }}",
  "article_type"         : "{% if contentsubtype == 'VIDEO' %}VIDEO{% elseif contentsubtype == 'GALLERY' %}GALLERY{% else %}ARTICLE{% endif %}",
  "event_type"           : "page_view",
  "is_article_premium"   : "0",
  "page_path"            : "{{ replaced_link }}",
  "page_url"             : "{{ get_permalink() }}",
  "page_category"        : "{% for items in sections|sort|reverse|slice(0, 1) %}{{ items.name }}{% endfor %}",
  "page_country"         : "eg",
  "page_currency_code"   : "AED",
  "page_lang"            : "English",
  "page_section"         : "{% for items in sections|sort|reverse|slice(0, 1) %}{{ items.name }}{% endfor %}",
  "chartbeat_section"     : [{% if sections %}{% for sectionzs in sections %}"{{ sectionzs.name }}"{% if loop.last == false %}, {% endif %}{% endfor %}{% endif %}],
  {% if section_parent %}
     "page_subsection"       : "{% for items in sections|slice(0, 1) %}{{ items.name }}{% endfor %}",
  {% endif %}
  "page_type"            : "{% if contentsubtype == 'VIDEO' %}video page{% elseif contentsubtype == 'GALLERY' %}gallery page{% else %}article page{% endif %}",
  "tealium_event"        : "{% if contentsubtype == 'VIDEO' %}additional_video_view{% elseif contentsubtype == 'GALLERY' %}additional_gallery_view{% else %}additional_article_view{% endif %}",
  "user_application"     : "{{ every_device }}",
  /*
    "google_value":googleid ,
  "facebook_id" : /_fbp=(fb\.1\.\d+\.\d+)/.exec(window.document.cookie)[1],
  "tealium_visitorid":tealium_visitor_id,
  */
  "eventtimestamp":event_timestamp_utc,
  "NewsKeywords":newsKeywords
 }
 ORA.view({
 "config": {
 "applyMutations": true,
 "sendSessionInfo": true
 },
 "data":utag_data
});


 pSUPERFLY.virtualPage({
      sections:  [{% if sections %}{% for sectionzs in sections %}"{{ sectionzs.name }}"{% if loop.last == false %}, {% endif %}{% endfor %}{% endif %}],
      authors: "{% if authors %}{% for author in authors %}{{ author.name }}{% if loop.last == false %}, {% endif %}{% endfor %}{% elseif author_byline %}{{ author_byline }}{% else %}None{% endif %}",
      path: "{{ replaced_link }}",
      title: "{{ teaser_headline|replace({"\n":'', "\r":''}) }}"
    });

gtag('config', 'G-2VVVMDVFQ8', {
    page_title: "{{ teaser_headline|replace({"\n":'', "\r":''}) }}",
    page_location: "{{ replaced_link }}",
    send_page_view: true 
 });

</script>

<div class="row">
   <div class="col-lg-12 d-flex justify-content-center d-block fix-billboard-nf infinite-leaderboard-1-nf">
    <div class="fix-billboard-nf-inner">
      <!-- <div class="adslot-leaderboard-footer-{{ skip }}" id="adslot-leaderboard-footer-{{ skip }}"></div> -->
      <!-- Tag ID: KhaleejTimes_Responsive-Article-Leaderboard-footer -->
      <div align="center" data-freestar-ad="__320x100 __970x250" id="adslot-leaderboard-footer-{{ skip }}">
      <script data-cfasync="false" type="text/javascript">
        freestar.config.enabled_slots.push({ 
           placementName: "khaleejtimes_Responsive-Article-Leaderboard-footer", slotId: "adslot-leaderboard-footer-{{ skip }}" });
       </script></div>
    </div>
  </div>
<div id="floater-bt-article-lb" class="floater-article-btn-{{skip}}" article-id="{{skip}}" style="display:none;"> <a> Read next story <img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2024/05/15185234/down-arrow-01.png" style="width:12px; height:13px; margin-left:5px;">  </a></div>
 <div class="col-lg-8 art-lt-cust-nf">
    <div class="article-wrapper nextarticleid{{ skip }}" data-uuid="{{ uuid }}">
      <script>
        jQuery.noConflict();
        (function($) {
          $(document).ready(function() {

              //In-Article-MPU--Ad-Unit
              var count{{ skip }} = jQuery('.nextarticleid{{ skip }} .article-paragraph-wrapper').find("p").length;

              var insertion{{ skip }}=Math.floor(count{{ skip }}/2.5);

            // jQuery.each(jQuery('.nextarticleid{{ skip }} .article-paragraph-wrapper p'), function (index{{ skip }}, paragraph{{ skip }}) {
              //  if (index{{ skip }} == insertion{{ skip }}) { //second element
                //  jQuery(paragraph{{ skip }}).after("<div class='mpu-ad-unit ad-unit d-flex justify-content-center mt-3'>"+
                  //  "<div id='adslot-insidead-{{ skip }}'></div>"+
                  //  "</div>");
               // }
             // }); 
        
         jQuery.each(jQuery('.nextarticleid{{ skip }} .article-paragraph-wrapper p'), function (index{{ skip }}, paragraph{{ skip }}) {
                if (index{{ skip }} == insertion{{ skip }}) { //second element
                  jQuery(paragraph{{ skip }}).after("<div class='mpu-ad-unit ad-unit d-flex justify-content-center mt-3'>"+
                "<div id='div-gpt-ad-1644479678407-0'>"+
                "<script>"+
                "googletag.cmd.push(function() {"+
                " googletag.display('div-gpt-ad-1644479678407-0');"+
                " });"+
                "<\/script>"+
                "</div>");
                }
              });

          });
        })(jQuery);
      </script>

      <div class="article-container" data-triggerView data-url="{{ get_self_link()|split('?')|first }}" data-articlez="{{ skip + 1 }}" viewed="">
        <div class="article-paragraph-wrapper">

          <ul class="breadcrumbs-nw-nf-lat">
            {% include "@base/article/breadcrumb.twig" %}
          </ul>

            {% set metasocial = true %}
            {% set authorbox = true %}
            {% set firstimage = true %}
            {% set videonotembed = true %}
            {% set firstparagraph = true %}
            {% set scounter2=false %}
            {% set iscount = 1 %}
            {% set icount = 1 %}
            {% if dateline is not null and dateline is not empty %}
                {% set dateline = dateline ~ ' - ' %}
            {% endif %}
      {% set totalpara2= body|length %}
    {# set paraend2= (totalpara2-(15/100*totalpara2))|round(0, 'ceil') #}

        {% set paraend2= totalpara2 %}
      {% set counterset2=(totalpara2-(totalpara2)/3)|round(0, 'ceil')  %}
             {% for paragraph in body %}
                {% if paragraph is not empty %}

                    {# Inside Author Box Start #}
                    {% if paragraph matches '{<!-- element: (body|fallback) -->}' and authorbox %}
                        {% set authorbox = false %}
                        {% include "@base/article/inline-author-article.twig" %}
                    {% endif %}
                    {# Inside Author Box End #}

                    {# check if dailymotion is embed #}
                    {% if paragraph matches '{dailymotion.com/embed/video}'  %}
                        {% set videonotembed = false %}
                    {% endif %}
                    {# check if dailymotion is embed #}
            {% if loop.index==counterset2 and scounter2==false %}
                 {% set scounter2=true %}
                 <div class="secondpara-{{skip}}">  
                  {% endif %}
                  {% if loop.index==paraend2 %}                   
                    </div>    
                   {% endif %}
                    {% if contentsubtype == 'VIDEO' or  contentsubtype == 'GALLERY'%}
                        {% if paragraph matches '{<!-- object: image -->}' and firstimage %}
                            {% set firstimage = false %}
                        {% else %}
                            {{ paragraph|replace({'<span id="dateline"></span>':dateline})|raw }}
                        {% endif %}
                    {% else %}
           {% if paragraph matches '{<!-- object: image -->}' and firstimage %}
           
           
           
           </div>
    
          
    
    
                            <div class="article-leftbar-wrap-nf topsty-netcore-{{ skip }}">
          

                              <div id="arttopstrywrap" class="article-lt-top-story">
                                <h2>&nbsp;</h2>
                                  
                                  <div class="arttopstrywrap-list-dt">
                                    <a href="https://www.khaleejtimes.com/life-and-living/embracing-the-bright-side-a-guide-on-how-to-cultivate-optimism">
                                      <img src="https://image.khaleejtimes.com/?uuid=82310921-6360-526a-97cc-fc7db7999c04&function=cropresize&type=preview&source=false&q=75&crop_w=0.99999&crop_h=0.8427&width=1500&height=844&x=1.0E-5&y=0.14232" alt="" />
                                      <h3>Embracing the bright side: A guide on how to cultivate optimism</h3>
                                      </a>
                                  </div>

                                     <div class="arttopstrywrap-list-dt">
                                     <a href="https://www.khaleejtimes.com/travel/the-power-of-solitude-why-you-should-go-on-a-solo-trip">
                                      <img src="https://image.khaleejtimes.com/?uuid=ee38c150-5d16-5aa0-a817-e4d2dc0badba&function=cropresize&type=preview&source=false&q=75&crop_w=0.99999&crop_h=0.99956&x=0&y=0&width=1500&height=844" alt="" />
                                      <h3>The power of solitude: Why you should go on a solo trip</h3>
                                      </a>
                                  </div>

                                     <div class="arttopstrywrap-list-dt">
                                     <a href="https://www.khaleejtimes.com/life-and-living/how-to-get-your-kids-to-read-essential-tips-for-parents">
                                      <img src="https://image.khaleejtimes.com/?uuid=c0d11029-2744-51ce-9963-58800b58de7d&function=cropresize&type=preview&source=false&q=75&crop_w=0.99999&crop_h=0.8427&width=1500&height=844&x=1.0E-5&y=0.11423" alt="" />
                                      <h3>How to get your kids to read: Essential tips for parents</h3></a>
                                  </div>

                                  


                               
                              </div>

                            </div>

                            <div class="article-nwsplit-arp-wrap-nf asif-test"> 
           
          
                
                               {% set firstimage = false %}
                                {{ paragraph|replace({'image-wrapper':'image-wrapper image-wrapper-first'})|raw }}
              
                             {% else %}
                        {{ paragraph|replace({'<span id="dateline"></span>':dateline})|raw }}
                          {% if paragraph matches '{<!-- element: body -->}'  and  icount==2 %}
              {% set iscount=iscount+1 %} 
              
               {% endif %}
                {% if  paragraph matches '{<!-- element: body -->}' and iscount==4 %}
                 adunit - {{icount}}
                <!-- googleoff: index -->               
                        <!-- /78059622/Responsive-InArticle-MPU2-300x250 -->
                        <!-- <div id='div-gpt-ad-1711370958901-0' style='max-width: 300px; max-height: 250px;margin:0px auto; text-align:center;'>
                        <script>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1711370958901-0'); });
                        </script>
                        </div><br/> -->
                        <!-- /23110992253/InArticle-300x250-2 -->
                        <div id='div-gpt-ad-1712280510876-0' style='max-width: 300px; max-height: 250px;margin:0px auto; text-align:center;'>
                          <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1712280510876-0'); });
                          </script>
                        </div><br/>
                <!-- googleon: index -->
                {% endif %}
                            {% if paragraph matches '{<!-- element: body -->}' and firstparagraph and icount==2 %}
                                 adunit - {{icount}}
                                {% set firstparagraph = false %}
                                <!-- /78059622/Responsive-InArticle-MPU-300x250 -->
                                <!--  <div id='div-gpt-ad-1711370705840-0' style='max-width: 300px; max-height: 250px;margin:0px auto; text-align:center;'>
                                  <script>
                                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1711370705840-0'); });
                                  </script>
                                  </div><br/> -->
                                <!-- /23110992253/InArticle-300x250-1 -->
                                <div id='div-gpt-ad-1712280361025-0' style='max-width: 300px; max-height: 250px;margin:0px auto; text-align:center;'>
                                <script>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1712280361025-0'); });
                                </script>
                                </div><br/> 
                                {% else %}
                             {% if paragraph matches '{<!-- element: body -->}' and firstparagraph and icount==1 %}
                             {% set icount = 2 %}
                             {% endif %}
                           {% endif %}
                        {% endif %}           
                        {% endif %}
                        {# Social medie icons Start #}
                        {% if paragraph matches '{<!-- element: (preamble|body|fallback) -->}' and metasocial %}
                            {% set metasocial = false %}
                            {% include "@base/article/meta-social.twig" %}
                        {% endif %}
                        {# Social medie icons End #}            
                    {% endif %}
              {% if loop.last %}

                   adunit - {{icount}}
                   <!-- /78059622/Responsive-InArticle-MPU3-300x250 -->
                    <!--  <div id='div-gpt-ad-1711372673668-0' style='max-width: 300px; max-height: 250px;margin:0px auto; text-align:center;'>
                      <script>
                      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1711372673668-0'); });
                      </script>
                      </div> -->
                      <!-- /23110992253/InArticle-300x250-3 -->
                      <div id='div-gpt-ad-1712280684708-0' style='max-width: 300px; max-height: 250px;margin:0px auto; text-align:center;'>
                        <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1712280684708-0'); });
                        </script>
                      </div>
                      
                   {% endif %}
            {% endfor %}

            {% if contentsubtype == 'VIDEO' and videonotembed%}
                {% if videoid %}
                  <div class="facebook-responsive-video mt-4">
                    <iframe type="text/html"
                            src="https://www.dailymotion.com/embed/video/{{ videoid }}?autoplay=1"
                            allow="autoplay"
                            allowfullscreen=""
                            width="100%"
                            height="100%"
                            frameborder="0">
                    </iframe>
                  </div>
                {% endif %}
            {% endif %}

          {% include "@base/article/concepts.twig" %}


       <!-- </div> -->

        {% include "@base/article/authors.twig" %}
    
    <div id="agora-article-below-{{ skip + 1 }}"></div>
    
    
   </div>
   
        {% if loadMoreArticles[skip] is not empty %}
          <div class="load-next-article" data-triggerLoadArticle data-article="{{ skip + 1 }}"></div>
        {% endif %}

        {# include "@base/article/part/vuukle-infinite.twig" #}
    
        <div class="row">
          <div class="col-lg-12">
            <!-- Speakol Scripts Start -->
           <!-- {# include "@base/article/part/speakol.twig" with { speakol_id: 6248, infinite: 1 } #} -->
            <br />
            <!-- Speakol Scripts End -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="col-sm-12 col-md-12 col-lg-4 art-rt-cust-nf d-none d-xl-block">
    <div class="article-right-sidebar fixedsticky">
      <div class="content-right-container">
        <div id="content-right-{{ skip }}">
          <div class="col-auto mx-auto mb-4 d-flex justify-content-center fix-mpu-nf">
            <!-- <div class="adslot-sidebar-mpu1-{{ skip }}" id="adslot-sidebar-mpu1-{{ skip }}"></div> -->
            <!-- Tag ID: KhaleejTimes_Responsive-Article-MPU-1 -->
            <div align="center" data-freestar-ad="__300x250" id="adslot-sidebar-mpu1-{{ skip }}">
            <script data-cfasync="false" type="text/javascript">
              freestar.config.enabled_slots.push({ 
                 placementName: "khaleejtimes_Responsive-Article-MPU-1", slotId: "adslot-sidebar-mpu1-{{ skip }}" });
             </script></div>
          </div>
    
      
      {% include "@base/page/part/infinite-sidebar.twig" %}
<!--
<div class="recommend-wrap-pan recommend-rt-netcore-{{ skip }}">
<h3><img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2023/11/07121529/blue-line-new.jpg" style="padding-right:11px;"> Recommended For You</h3>
<ul>
<li><a href="https://www.khaleejtimes.com/life-and-living/keep-your-hands-happy-essential-hand-care-tips">Keep your hands happy: Essential hand care tips</a></li>
<li><a href="https://www.khaleejtimes.com/life-and-living/how-much-sleep-do-you-really-need-2">How much sleep do you really need?</a></li>
<li><a href="https://www.khaleejtimes.com/life-and-living/headache-different-types-of-headaches-and-their-remedies">Headache: Different types of headaches and their remedies </a></li>
<li><a href="https://www.khaleejtimes.com/business/dubai-gold-pricing-why-an-attraction-for-gold-enthusiasts">Dubai gold pricing: Why an attraction for gold enthusiasts?</a></li>
<li><a href="https://www.khaleejtimes.com/life-and-living/essential-hair-care-tips-for-beautiful-and-healthy-locks">Essential hair care tips for beautiful and healthy locks</a></li>
</ul>
</div>
!-->
      
      

          <div class="col-auto mx-auto mb-4 d-flex justify-content-center fix-mpu-nf">
            <!-- <div class="adslot-sidebar-mpu2-{{ skip }}" id="adslot-sidebar-mpu2-{{ skip }}"></div> -->
            <!-- Tag ID: KhaleejTimes_Responsive-Article-MPU-2 -->
            <div align="center" data-freestar-ad="__300x250" id="adslot-sidebar-mpu2-{{ skip }}">
            <script data-cfasync="false" type="text/javascript">
              freestar.config.enabled_slots.push({ 
                 placementName: "khaleejtimes_Responsive-Article-MPU-2", slotId: "adslot-sidebar-mpu2-{{ skip }}" });
             </script></div>
          </div>
      
      
   <div class="trending-rt-wrap-pan trend-rt-netcore-{{ skip }}">

   <h3><img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2023/11/07121529/blue-line-new.jpg" style="padding-right:11px;"> Trending In</h3>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab-{{ skip }}" data-toggle="pill" href="#pills-home-{{ skip }}" role="tab" aria-controls="pills-home" aria-selected="true">UAE</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab-{{ skip }}" data-toggle="pill" href="#pills-profile-{{ skip }}" role="tab" aria-controls="pills-profile" aria-selected="false">Entire Website</a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home-{{ skip }}" role="tabpanel" aria-labelledby="pills-home-tab-{{ skip }}">
     <ul>
         <li><a href="https://www.khaleejtimes.com/life-and-living/low-maintenance-indoor-plants-suited-for-your-uae-home">Low-maintenance indoor plants suited for your UAE home</a></li>
         <li><a href="https://www.khaleejtimes.com/life-and-living/nutritional-powerhouse-benefits-of-dry-fruits-on-our-health">Nutritional powerhouse: Benefits of dry fruits on our health</a></li>
         <li><a href="https://www.khaleejtimes.com/life-and-living/panic-attacks-tips-to-manage-symptoms-and-regain-control">Panic attacks: Tips to manage symptoms and regain control</a></li>
         <li><a href="https://www.khaleejtimes.com/life-and-living/home-decor-how-to-transform-your-room-on-a-budget">Home decor: How to transform your room on a budget

</a></li>
  <li><a href="https://www.khaleejtimes.com/life-and-living/conquer-procrastination-tips-for-taking-charge-of-your-time">Conquer procrastination: Tips for taking charge of your time</a></li>
     </ul>
</div>

  <div class="tab-pane fade" id="pills-profile-{{ skip }}" role="tabpanel" aria-labelledby="pills-profile-tab-{{ skip }}">
     <ul>
      <li><a href="https://www.khaleejtimes.com/life-and-living/whats-your-skin-type-here-is-a-guide-to-different-skin-types-and-skincare">What’s your skin type? Here is a guide to different skin types and skincare</a></li>
         <li><a href="https://www.khaleejtimes.com/life-and-living/how-to-set-smart-goals-for-the-students">How to set SMART goals for the students?</a></li>
     <li><a href="https://www.khaleejtimes.com/life-and-living/happiness-hormones-a-guide-to-increasing-your-joy-and-well-being">Happiness hormones: A guide to increasing your joy and well-being</a></li>
         <li><a href="https://www.khaleejtimes.com/life-and-living/a-sweet-deal-for-your-health-6-natural-alternatives-to-white-sugar">A sweet deal for your health: 6 natural alternatives to white sugar</a></li>
         <li><a href="https://www.khaleejtimes.com/life-and-living/5-breathing-exercises-to-do-from-the-comfort-of-your-chair">5 breathing exercises to do from the comfort of your chair</a></li>

     </ul>
</div>
</div>
</div>
     <div class="output-container"></div>
        </div>
      </div>
<div id="agora-article-sidebar-{{ skip + 1}}" style="margin-top:10px !important;"></div>
      {{ render_sidebar("article-infinite-scroll-sidebar") }}
    </div>
  </aside>

  <script>ga('send', 'pageview');</script>
 <script>
jQuery(document).ready(function() {
    jQuery(window).scroll(function() { 
    if (jQuery(".secondpara-{{skip}}").isInViewportz() == true ) {
          if({{skip}}!=4)   
          {
            jQuery(".floater-article-btn-{{skip}}").show();        
          }
     //jQuery(".floater-article-btn").attr("article-id",next+1);   
    }   
    else
    {      
       jQuery(".floater-article-btn-{{skip}}").hide();    
    }  
});

  {% if every_device=='mobile'%} 
    jQuery(".floater-article-btn-{{skip}}").click(function(){     
   // next=jQuery(".load-next-article").attr("data-article");
    jQuery('html, body').scrollTop(jQuery(".nextarticleid{{skip+1}}").offset().top-200);    
  });

    jQuery(".floater-article-btn-0").click(function(){     
   // next=jQuery(".load-next-article").attr("data-article");
    jQuery('html, body').scrollTop(jQuery(".nextarticleid1").offset().top-200);    
  });  
  {% else %}
  jQuery(".floater-article-btn-{{skip}}").click(function(){     
   // next=jQuery(".load-next-article").attr("data-article");
    jQuery('html, body').scrollTop(jQuery(".nextarticleid{{skip+1}}").offset().top-350);    
  });
    jQuery(".floater-article-btn-0").click(function(){     
   // next=jQuery(".load-next-article").attr("data-article");
    jQuery('html, body').scrollTop(jQuery(".nextarticleid1").offset().top-350);    
  });
   
{%endif%}  
});
  </script>
</div>
<!--- Article infinite scroll end -->