<span>
    <a href="/prayer-time-uae" target="_blank" style="text-decoration:none;">
      <span id="pray_time_js"></span>
    </a>
 </span>
{% if content %}
  {% for object in content.object %}
    {% if object["@attributes"].type == 'x-im/content-part' %}
      {% if object.links.link["@attributes"].uri == 'im://content-part/prayer-times' %}
        <script>
            var NSC_pt_cy = (new Date).getFullYear();
            var NSC_pt_cm = (new Date).getMonth();
            var NSC_pt_cd = (new Date).getDate();
            var NSC_pt_cs = (new Date).getSeconds();
            var NCS_fajar_time   = new Date(NSC_pt_cy,(NSC_pt_cm+1),NSC_pt_cd,"{{ object.data.fajr|slice(0, 2) }}","{{ object.data.fajr|slice(3, 2) }}",NSC_pt_cs); //24 Hour Based
            var NCS_duhar_time   = new Date(NSC_pt_cy,(NSC_pt_cm+1),NSC_pt_cd,"{{ object.data.dhuhr|slice(0, 2) }}","{{ object.data.dhuhr|slice(3, 2) }}",NSC_pt_cs); //24 Hour Based
            var NCS_asr_time     = new Date(NSC_pt_cy,(NSC_pt_cm+1),NSC_pt_cd,"{{ object.data.asr|slice(0, 2) }}","{{ object.data.asr|slice(3, 2) }}",NSC_pt_cs); //24 Hour Based
            var NCS_maghrib_time = new Date(NSC_pt_cy,(NSC_pt_cm+1),NSC_pt_cd,"{{ object.data.magrib|slice(0, 2) }}","{{ object.data.magrib|slice(3, 2) }}",NSC_pt_cs); //24 Hour Based
            var NCS_isha_time    = new Date(NSC_pt_cy,(NSC_pt_cm+1),NSC_pt_cd,"{{ object.data.isha|slice(0, 2) }}","{{ object.data.isha|slice(3, 2) }}",NSC_pt_cs); //24 Hour Based

            RunClientPrayerTimes(1);
        </script>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}