{% apply spaceless %}        
	{% for videos in video %}	
{% if loop.index==1 %}
<div class="col-12 col-lg-8 board-col-xs-12 board-col-sm-12 board-col-md-8 board-col-lg-8 dtw-videos dtw-top-videos">


									<article class="post  top-image-bottom-content">
										<div class="post-thumbnail">
											<div class="dtwvideo-icon-nf">
											<a href="{{videos.video_url}}" class="mediabox"><img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/12/05143557/play.png" /></a>
										</div>
											<a href="{{videos.video_url}}" class="mediabox">
												<img src="{{videos.cover_picture}}" class="img-fluid stclass" alt="">
											</a>
										</div>
										<div class="entry-container">
											<div class="entry-header">
												<p class="category-btn"><a href="{{videos.video_url}}" class="mediabox" data-toggle="lightbox">{{videos.sections}}</a></p>
												<h2 class="post-title"><a href="{{videos.video_url}}" class="mediabox" data-toggle="lightbox">{{videos['title']}}</a></h2>
											</div>
											
										</div>	
									</article>


							</div>
	{% endif %}	
{% if loop.index==2 %}	
<div class="col-12 col-lg-4 board-col-xs-12 board-col-sm-12 board-col-md-4 board-col-lg-4 dtw-videos dtw-top-videos secondnf-h">


									<article class="post  top-image-bottom-content">
										<div class="post-thumbnail">
											<div class="dtwvideo-icon-nf">
											<a href="{{videos.video_url}}" class="mediabox"><img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/12/05143557/play.png" /></a>
										</div>
											<a href="{{videos.video_url}}" class="mediabox">
												<img src="{{videos.cover_picture}}" class="img-fluid stclass" alt="">
											</a>
										</div>
										<div class="entry-container">
											<div class="entry-header">
												<p class="category-btn"><a href="{{videos.video_url}}" class="mediabox" data-toggle="lightbox">{{videos.sections}}</a></p>
												<h2 class="post-title"><a href="{{videos.video_url}}" class="mediabox" data-toggle="lightbox">{{videos['title']}}</a></h2>
											</div>
											
										</div>	
									</article>


							</div>
		{% endif %}	
{% if loop.index==3 %}							
<div class="col-12 col-lg-4 board-col-xs-12 board-col-sm-12 board-col-md-4 board-col-lg-4 dtw-videos dtw-top-videos thirdnf-h">


									<article class="post  top-image-bottom-content">
										<div class="post-thumbnail">
											<div class="dtwvideo-icon-nf">
											<a href="{{videos.video_url}}" class="mediabox"><img src="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2022/12/05143557/play.png" /></a>
										</div>
											<a href="{{videos.video_url}}" class="mediabox">
												<img src="{{videos.cover_picture}}" class="img-fluid stclass" alt="">
											</a>
										</div>
										<div class="entry-container">
											<div class="entry-header">
												<p class="category-btn"><a href="{{videos.video_url}}"  class="mediabox" data-toggle="lightbox">{{videos.sections}}</a></p>
												<h2 class="post-title"><a href="{{videos.video_url}}"  class="mediabox" data-toggle="lightbox">{{videos['title']}}</a></h2>
											</div>
											
										</div>	
									</article>


							</div>
							{% endif %}	
{% endfor %}	
{% endapply %}
