
<style>


@media(min-width:991px) {

.header-left-epaper-nf a:hover {
    color: #FFF!important;
    background: #474343;
	
	background-image: url(https://navstage.khaleejtimes.com/wp-content/themes/ktd-theme/assets/images/epaper-nf-is-hover.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 21px auto;
}

}

.header-left-epaper-nf {
  width: auto;
  float:left;
  color:#474343;
  font-weight: 500;
}
.header-left-epaper-nf a {

	font-size:16px;
	 color:#474343;
    border: solid 1px #474343;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	display: block;
	padding: 5px 10px;
	margin-top: 5px;
	font-weight: 500;
	background-image: url(https://navstage.khaleejtimes.com/wp-content/themes/ktd-theme/assets/images/epaper-nf-is.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
        background-size: 21px auto;
    padding-left: 38px;
}








@media(max-width:567px) {

.dropdown {  z-index: 9999;}

.dropdown-content { right: -9px;
    top: -33px;}

.dropbtn.dropdown-toggle.auth0_user {

	
	text-align: left;
    position: absolute;
    min-height: 32px !important;
    max-height: 32px !important;
    position: absolute;
    right: 7px;
    top: -65px;
    padding: 5px 22px 5px 10px;
    margin-top: 0px;
}
.counter-lb-new {     
	width: 32%!important;
	}

 .header-date-count-next-pan.justify-content-center.d-flex.for-mobile-device {
	-ms-flex-pack: center!important;
    justify-content: center!important;}

.blink-bg-sign-in {
	top: -67px;
	font-size: 17px;
	    padding: 3px 16px;
}

.header-left-epaper-nf {
    width: auto;
    color: #474343;
	float: unset;
    font-weight: 500;
    position: absolute;
    left: 16px;
    top: 5px;
}
.header-left-epaper-nf a {
	margin-top: 0px;
	padding: 3px 8px;
	padding-left: 35px;
	font-size: 16px;
}

.row.search-burmenu-bar-nf { 
margin-top:40px;}


/*
.header-left-epaper-nf img {
    width: 21px;
    margin-right: 6px;
    margin-top: -4px;
}
*/


.header-left-epaper-nf a {
	
   background-image: url(https://navstage.khaleejtimes.com/wp-content/themes/ktd-theme/assets/images/epaper-nf-is.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 20px auto;
    padding-left: 35px;
    font-size: 16px;
}
.header-left-epaper-nf a:hover {
	/* background-image: url(https://navstage.khaleejtimes.com/wp-content/themes/ktd-theme/assets/images/epaper-nf-is-hover.svg);
    background-repeat: no-repeat;
 background-position: 7px center;
    background-size: 20px auto;
    padding-left: 35px; 
	background: #FFF!important;*/
	
	color: #474343!important;
	
	background-image: url(https://navstage.khaleejtimes.com/wp-content/themes/ktd-theme/assets/images/epaper-nf-is.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 20px auto;
    padding-left: 35px;
    font-size: 16px;
	
	
}

button.dropbtn.dropdown-toggle.auth0_user {
    margin-top: 0vh;
}


}


@media(max-width:375px) {
.blink-bg-sign-in { top: -66px;}

button.dropbtn.dropdown-toggle.auth0_user {
    margin-top: 0vh;
}

}






</style>





<!-- <div class="sticky-header-wrap sticky-div"> -->
  <div class="container">
  
    <div class="header-left-epaper-nf">
			<a href="https://epaper.khaleejtimes.com/?utm_source=website&utm_medium=icon&utm_campaign=epaperclick" target="_blank"> E-Paper</a>
	</div>

    <div class="row search-burmenu-bar-nf">
      <div class="col-lg-12 d-flex justify-content-end">
        <div class="header-right-column" id="userhandler">
          <ul class="header-right-icons">


                <li style="display:none" id="MG2login"  data-mg2-action="login"><a class="blink-bg-sign-in" href="#">Sign In</a></li>


                <li data-mg2-action="hideloggedout" id="MG2Detail">

                    <div class="dropdown">
                        <button type="button" onclick="engageDropdownHandler()" class="dropbtn dropdown-toggle auth0_user"><span id="MG2UserName" class="auth0_user ">Hi, <span class="has-spinner"></span></span></button>
                        <div id="engageDropdown" class="dropdown-content">
                            <!-- <a href="" id="MG2MyAccount" target="_blank">My Account</a> 
                            <a href="https://subscriptions.khaleejtimes.com/" target="_blank">Subscriptions</a>-->
                            <a href="https://www.khaleejtimes.com/mykt">My KT</a>
                            <a href="https://www.khaleejtimes.com/trading">Trading</a>
                            <a href="https://www.khaleejtimes.com/contact-us">Contact Us</a>
                            <a href="https://www.khaleejtimes.com/privacy-notice">Privacy Notice</a>
                            <a href="#" id="MG2logout" data-mg2-action="logout">Sign Out</a>
                        </div>
                    </div>

                </li>
            


            <li class="header-search"><span><i class="fas fa-search" data-toggle="modal" data-target="#searchModal"></i></span></li>
            <li class="header-menu-icon pr-0">
              <!-- <a href="javascript:void(0);"><span class="btn-open"></span></a> -->
              <div class="hamburger_menu_nf">
                <span class="btn-open"><i class="fas fa-bars"></i></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header-row justify-content-lg-between">
      <!-- Logo + Prayer Timing Start -->
      <div id="logo" class="mx-lg-auto col-auto col-lg-6 col-md-12 flex-column order-lg-2 px-0">

        <a href="/" class="standard-logo"><img src="{{ get_stylesheet_directory_uri() }}/assets/images/khaleej-times-logo.svg" width="275" height="49" alt="khaleejtimes" /></a> 
<!--
         <a href="/" class="standard-logo"><img src="{{ get_stylesheet_directory_uri() }}/assets/images/kt-logo-a-gif.gif" width="auto" height="auto" alt="khaleejtimes" /></a> -->

        <div class="container">

          <div class="row">
            <div class="col-lg-12 header-date-count-next-pan justify-content-center d-flex for-mobile-device">

              {{ render_prayertimes('@base/page/nav/prayer-times', '8cdce398-b4c3-491d-b72e-006b62f5f72a') }}

            </div>
          </div>
        </div>
      </div>
      <!-- Logo + Prayer Timing End -->

      <div class="col-auto col-lg-3 board-col-xs-12 board-col-sm-12 board-col-md-3 board-col-lg-3 col-md-3 last-update-time order-lg-1 d-md-flex flex-md-column px-0">
        <div class="row no-gutters">
          <div class="col-12">
            <div class="header-left-column">
{% set show_ear=false %}
              {% if adGroup == 'homepage' %}
                {% set EarPanelType = 'Homepage' %}
                {% set EarPanelLeftDfpId = '1652856980901' %}
                {% set EarPanelRightDfpId = '1652857053850' %}
				{% set ear_data= get_post('789363')|raw %}
				{% if 'ear_activate=1' in ear_data %}
				{% set show_ear=true %}
				{%endif %}				
              {% elseif adGroup == 'article' %}
                {% set EarPanelType = 'Article' %}
                {% set EarPanelLeftDfpId = '1652857412793' %}
                {% set EarPanelRightDfpId = '1652857619498' %}
				{% set ear_data= get_post('789378')|raw %}
				{% if 'ear_activate=1' in ear_data %}
				{% set show_ear=true %}
				{%endif %}				
			 {% elseif adGroup == 'gold-forex' %}
                {% set EarPanelType = 'Gold-forex' %}
                {% set EarPanelLeftDfpId = '1652857219494' %}
                {% set EarPanelRightDfpId = '1652857292061' %}
				{% set ear_data= get_post('789365')|raw %}
				{% if 'ear_activate=1' in ear_data %}
				{% set show_ear=true %}
				{%endif %}				
              {% else %}
                {% set EarPanelType = 'Section' %}
                {% set EarPanelLeftDfpId = '1652857219494' %}
                {% set EarPanelRightDfpId = '1652857292061' %}
				{% set ear_data= get_post('789376')|raw %}
				{% if 'ear_activate=1' in ear_data %}
				{% set show_ear=true %}
				{%endif %}
				
              {% endif %}
			{% if every_device=='desktop' %}
			{% if show_ear==true %}
              <!-- /1251894/{{ EarPanelType }}-Ear-Pannel-Left -->
              <div id='div-gpt-ad-{{ EarPanelLeftDfpId }}-0' style='min-width: 200px; min-height: 90px;'>
                <script>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ EarPanelLeftDfpId }}-0'); });
                </script>
              </div>
			 {% endif %}   
			{% endif %}  
            </div>
          </div>
        </div>
      </div>

      <div class="header-misc col-auto col-lg-3 board-col-xs-12 board-col-sm-12 board-col-md-3 board-col-lg-3 col-md-3 order-lg-3 justify-content-lg-end justify-content-md-end flex-md-column ml-0 px-0 right-earpanel">
        <div class="row no-gutters">
          <div class="col-12">

            <div class="header-right-column">
              <!-- <div class="header-right-column weather-container">
              <p class="weather">Dubai <i class="fas fa-cloud-sun"></i> 20&deg;C</p>
            </div>-->
			{% if every_device=='desktop' %}
			{% if show_ear==true %}
              <!-- /1251894/{{ EarPanelType }}-Ear-Pannel-Right -->
              <div id='div-gpt-ad-{{ EarPanelRightDfpId }}-0' style='min-width: 200px; min-height: 90px;'>
                <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-{{ EarPanelRightDfpId }}-0'); });
                </script>
              </div>
			  {% endif %}   
			{% endif %}  
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% if menu %}
  <div class="container primary-menu-wrapper">
    <div class="header-row justify-content-lg-between">
      <nav class="primary-menu mb-1">
        <ul class="menu-container justify-content-between">
          {% for item in menu %}
            <li><a href="{{ item.url }}" class="text-uppercase"{% if item.target %} target="_blank"{% endif %}>{{ item.title|raw }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
	
	<!-- </div> -->

{% endif %}
<!-- Mega Nav Start -->
<div class="nav-overlay-nf">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mega-nav-column-line">
        {% for item in meganav %}
          <div class="mega-nav-left-columns-wrap{% if loop.last %} margin-btm-0{% endif %}">
            <div class="mega-nav-left-columns-headingwrap">
                <i class="fas fa-chevron-down mega-nav-down-arrow hidden visible-xs" data-toggle="collapse" data-target="#collapse-mega-nav{{ item.ID }}-{{ item.title|replace({" ":"-"})|raw }}" aria-expanded="false" aria-controls="collapse-mega-nav{{ item.ID }}"></i>
              <h3 class="mega-nav-left-columns-heading"><a href="{{ item.url }}"{% if item.target %} target="_blank"{% endif %}>{{ item.title|raw }}</a>
              </h3>
            </div>
            {% if item.children.isNotEmpty %}
              <div class="mega-nav-left-columns-listwrap collapse dont-collapse-sm" id="collapse-mega-nav{{ item.ID }}-{{ item.title|replace({" ":"-"})|raw }}">
                <ul class="mega-nav-left-columns">
                  {% for subitem in item.children %}
                    <li><a href="{{ subitem.url }}"{% if subitem.target %} target="_blank"{% endif %}>{{ subitem.title|raw }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="col-lg-5 mega-nav-right-columns-wrap-pdng">

        {% include "@base/page/nav/mega-nav-right-side-links.twig" %}

        <div class="meganav-app-wrap">
          <h3 class="mega-nav-left-columns-heading">KT APPDOWNLOAD</h3>
          <ul class="meganav-app-lists">
            <li><a href="https://itunes.apple.com/ae/app/khaleej-times/id909275381?mt=8"><img class="lazyload" src="{{ get_stylesheet_directory_uri() }}/assets/images/apple.svg" alt="apple" width="19" height="23" loading="lazy"/> iPhone | iPad</a> </li>
            <li><a href="https://play.google.com/store/apps/details?id=com.khaleejtimes&hl=en"><img class="lazyload" src="{{ get_stylesheet_directory_uri() }}/assets/images/android.svg" alt="android" width="19" height="24" loading="lazy"/> Android</a></li>
            <li><a href="https://appgallery5.huawei.com/#/app/C101150783"><img class="lazyload" src="{{ get_stylesheet_directory_uri() }}/assets/images/huawei.svg" alt="huawei" width="19" height="14" loading="lazy"/> Huawei</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mega Nav Ends -->

<!-- Top Menu -->
{% include "@base/page/nav/top-menu.twig" %}
<!-- END Top Menu -->
