{% apply spaceless %}
  <!-- recommended-news-teaser-netcore -->
  
 
  <div class="most-popuplar-ongoing-viral-outer">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation" style="width:100%">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Recommended</button>
              </li>             
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active show" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="most-popuplar-ongoing-viral-contentarea">
  {% for item in items %}

                  <article class="top-list-thumb-stories">
                    <div class="post-title-rows">
             {% if item.properties.image %}
                <div class="thumb-with-image image-zoom"> <a href="{{ item.properties.link }}?utm_source=netcore&utm_medium=art-rcmd-api&utm_campaign=recommended-inarticle-dt" class="g4a_amn_track_sidebar"><img src="
{{item.properties.image|replace({'original': "cropresize"})}}&source=false&q=75&crop_w=0.99999&crop_h=0.9&{{get_image_type(item.properties.image,200) }}&x=1.0E-5&y=0.05" style="aspect-ratio: 2 / 1.4;"> </a>
                      </div>

             {% endif %}              
                      <div class="heading">
                        <h4> <a href="{{ item.properties.link }}" class="g4a_amn_track_sidebar"> {{ item.properties.title|raw }}</a> </h4>
                      </div>
                    </div>
                  </article>  
  {% endfor %}
    </div>
    </div>   
     </div>
     </div>
{% endapply %}

