<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:ctek="http://www.canvastek.com/rss/2.0/ctek/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
   <channel>
      <title>{{ categoryName }} - {{ site_name }}</title>
      <link>{{ current_domain }}</link>
      <atom:link href="{{ current_domain }}/feeds/rssfeed/" rel="self" type="application/rss+xml" />
      <description>{{ site_description }}</description>
      <category>{{ categoryName }}</category>
      <language>en</language>
      {{ articles|raw }}
   </channel>
</rss>