{%- if articles is iterable -%}
    {% for article in articles %}
        <item>
            {% if article.teaser_headline %}
                <title><![CDATA[{{ article.teaser_headline }} ]]></title>
            {% endif %}
            {% if article.pubdate %}
                <pubDate>{{ article.pubdate|date("r") }}</pubDate>
            {% endif %}
            {% if article.permalink %}
                <link>{{ article.permalink }}</link>
            {% endif %}
            {% if article.uuid %}
                <guid>{{ article.uuid }}</guid>
            {% endif %}
            {% if article.section %}
                <articlesection>{{ article.section}}</articlesection>
            {% endif %}
            {% if article.teaser_body %}
                <description><![CDATA[{{article.teaser_body }}]]></description>
            {% endif %}
            {% if article.authors %}
                {% for author in article.authors %}
                    <author><![CDATA[{{ author.name }} ]]></author>
                {% endfor %}
            {% endif %}
            {% if article.authors is empty and article.author_byline %}
                <author>{{ article.author_byline }}</author>
            {% endif %}
            {% if article.body %}
                <content><![CDATA[{{ article.body|raw }}]]></content>
            {% endif %}
            {% if article.teaser_image_uuids %}
                {% for image  in  article.teaser_image_uuids %}
                    {% if loop.first %}
                        <enclosure url="{{ image_endpoint_url }}/?uuid={{ image }}&amp;function=original&amp;type=preview" length="0" type="image/jpeg" />
                    {% endif %}
                {% endfor %}
            {% else %}
                <enclosure url="https://static.khaleejtimes.com/wp-content/uploads/sites/2/2021/03/03170252/default_490x276.jpg" length="0" type="image/jpeg" />
            {% endif %}
        </item>
    {% endfor %}
{%- endif -%}
