{%- if articles is iterable -%}
    {% for article in articles %}
        {% if article.author_byline|lower not in ['reuters', 'ap', 'ians', 'afp', 'pti', 'ani', 'wam', 'app', 'the associated press'] %}
        <item>
            {% if article.headline %}
                <title><![CDATA[{{ article.headline }} ]]></title>
            {% endif %}
            {% if article.pubdate %}
                <pubDate>{{ article.pubdate|date("r") }}</pubDate>
            {% endif %}
            {% if article.permalink %}
                <link>{{ article.permalink }}</link>
            {% endif %}
            {% if article.uuid %}
                <guid isPermaLink="false">{{ article.uuid }}</guid>
            {% endif %}
            {% if article.section %}
                <category>{{ article.section}}</category>
            {% endif %}
            {% if article.authors %}
                {% for author in article.authors %}
                    <author><![CDATA[{{ author.name }} ]]></author>
                {% endfor %}
            {% endif %}
            {% if article.authors is empty and article.author_byline %}
                <author>{{ article.author_byline }}</author>
            {% endif %}
            {% if article.summary %}
                <description><![CDATA[{{article.summary }}]]></description>
            {% endif %}
            {% if article.body %}
                <content><![CDATA[{{ article.body|raw }}]]></content>
            {% endif %}
            {% for image  in  article.images %}
                <enclosure url="{{ image_endpoint_url }}/?uuid={{ image.uuid }}&amp;function=original&amp;type=preview" length="0" type="image/jpeg"/>
            {% endfor %}
        </item>
        {% endif %}
    {% endfor %}
{%- endif -%}


