{% if use_main_navigation_menu == 'yes' %}
    <div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
        <nav class="main-navigation navbar navbar-expand-md navbar-light">

            <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            {{ main_nav_menu|raw }}


            {% if search_form_location_mobile_toggle == 'main_nav_bar' %}
                <div class="main-nav-mobile-search-icon d-lg-none">
                    <form method="get" class="searchform" action="<?php echo esc_url( home_url( '/' ) ); ?>" role="search">
                        <div class="input-group">
                            <input class="submit mobile-search-icon btn btn-primary fa fa-input" value="&#xf002">
                        </div>
                    </form>
                </div>

                <div class="main-nav-mobile-search hidden d-lg-none">
                    {{ get_search_form|raw }}
                </div>
            {% endif %}

            {% if search_form_location == 'main_nav_bar' %}
                <div class="main-nav-search d-none d-lg-block">
                    {{ get_search_form|raw }}
                </div>
            {% endif %}

            </div>
        </nav>
    </div>
{% endif %}

{% if under_nav_ad_switch == 'on' %}
    <div id="{{ under_nav_ad_code }}" class="underNavAd advertisement col-md-12">
        <script type="text/javascript">
            if (googletag !== undefined) {
                googletag.cmd.push(function() {
                    googletag.display("{{ under_nav_ad_code }}");
                })
            }
        </script>
    </div>
{% endif %}


